body	{
	background-color:#BCB8B8;
	}

#body	{
	width: 1000px;
  margin:auto;
  box-shadow:10px 10px 5px #888888;
  background-color:white;
}

#main_header	{
  color:#134C5B;
  font-family: 'Scada', sans-serif;
  
  
}

#main_header img	{
  width:50%;
  padding:20px 0px;
}

#main_header h1	{
  position:relative;
  float:right;
  top:20px;
}

/* Main */
#menu{
	width: 100%;
	margin: 0;
	padding: 5px 0 0 0;
	list-style: none;  
}

#menu li{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
}

#menu a{
	float: left;
	height: 25px;
	padding: 0 35px;
	color: white;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#menu li:hover > a{
	color: black;
}

*html #menu li a:hover{ /* IE6 */
	color: #fafafa;
}

#menu li:hover > ul{
	display: block;
}

/* Sub-menu */

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);	
    background: -ms-linear-gradient(#444, #111);	
    background: linear-gradient(#444, #111);	
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu ul a{    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html #menu ul a{ /* IE6 */   
	height: 10px;
	width: 150px;
}

*:first-child+html #menu ul a{ /* IE7 */    
	height: 10px;
	width: 150px;
}

#menu ul a:hover{
        background: orange;
	background: -moz-linear-gradient(orange,  orange);	
	background: -webkit-gradient(linear, left top, left bottom, from(orange), to(orange));
	background: -webkit-linear-gradient(orange,  orange);
	background: -o-linear-gradient(orange,  orange);
	background: -ms-linear-gradient(orange,  orange);
	background: linear-gradient(orange,  orange);
}

#04acec,  #0186ba)
#menu ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 50px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after{
    border-bottom-color: orange; 
}

#menu ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */

#maincontent_header	{
  color:#134C5B;
  font-family: 'Scada', sans-serif;
  font-style:italic;
  
}

#main_header	{
  padding:0px 15px;
}

#client_site	{
   padding:0px 15px;
}

#main_content	{
  padding:0px 30px;
}

#introduction	{
  font-family: 'Scada', sans-serif;
}

#rationale	{
  font-family: 'Scada', sans-serif;
}

#members	{
  font-family: 'Scada', sans-serif;
}

#members dl	{
  line-height: 1.5;
}

#members dt {
  color:#134C5B;
  font-family: 'Scada', sans-serif;
  font-weight:bolder;
}

footer	{
  margin-top:100px;
}

#referer a	{
  text-decoration:none;
  font-family: 'Scada', sans-serif;
  color:#8B8E8E;
}

#referer a:hover	{
  color:#F7991D;
}

#copyright	{
  position:relative;
  float:right;
  color:#8B8E8E;
}
  
#client_site a	{
	text-decoration:none;
	font-family: 'Scada', sans-serif;
  color:#8B8E8E;
}

#client_site a:hover	{
  color:#F7991D;
}

article {
  font-family: 'Scada', sans-serif;
}

.content-block a	{
  color:#F7991D;
}

.content-block a:hover	{
  color:#6B82A3;
}
  
.content-block dt	{
  color:#134C5B;
  font-family: 'Scada', sans-serif;
  font-weight:bolder;
  padding:5px;
}


#bottom_nav ul	{
  list-style: none;
  padding: 0;
	margin-left: 0;
  margin-top:40px;
  font-family: 'Scada', sans-serif;
  padding-left:30px;
}

#bottom_nav a {
  color:#8B8E8E;
  text-decoration:none;
}

#bottom_nav a:hover	{
  color:#F7991D;
}

#referer img	{
  width:5%;
  padding-left:30px;
}
  
  
  









